@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add to your global CSS file */
body {
  padding-top: 0;
  margin: 0;
}

/* Smooth scrolling for the whole page */
html {
  scroll-behavior: smooth;
}

/* Ensure content doesn't jump when navbar becomes fixed */
.fixed-navbar + * {
  margin-top: 0;
}

/* Custom styles */
body {
  @apply antialiased text-gray-800;
}

.line-clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
